
html {
    background-color: #f0f0f0;
}

body {
    font-family: 'DejaVu Sans', Arial, Helvetica;
    font-size: 12px;
    margin: 0px auto;
    padding: 20px 20px;
}

.outer{
    background-color: #f1f1f1;
    width: 90%;
    margin: auto;
}

.searchForm{
    width: 80%;
    margin: 10px auto;
}

.searchParameter{
    width: 20%;
    height: 80px;
    float: left;
    margin: 10px 2.3%;
    padding: 10px 10px;
    text-align: center;
}

h2 {
    margin: 30px auto;
    text-align: center;
}

form fieldset {
    padding-top: 20px;
}

form div {
    float: left;
    width: 100%;
    padding-bottom: 1em;
}

form div > label {
    width: 100%;
    display: block;
    line-height: 20px;
    font-weight: bold;
}

form div > input, form div > select {
    height: 25px;
    width: 70%;
}

form div > ul {
    list-style: none;
    padding: 0;
    vertical-align: top;
}

form div > ul li {
    padding: 0;
    margin-left: 270px;
}

form div.submit {
    margin-top: 40px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

form div.submit button {
    font-weight: bold;
    font-variant: small-caps;
}

table thead th {
    background-color: dimgray;
}

.fieldError {
    border: 1px solid red;
}

ul.errorlist {
    border: 1px dotted #333;
    margin: 10px 10px 50px 10px;
    padding: 10px;
}

ul.errorlist li {
    list-style: none;
    background-color: #f2d768;
    padding: 5px;
    margin: 3px 0px;
}
