<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Stack Exchange API implementation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/4.0.0-alpha.3/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css}" rel="stylesheet"/>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"
            th:src="@{/webjars/jquery/3.1.0/jquery.min.js}"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
            th:src="@{/webjars/jquery-ui/1.12.0/jquery-ui.min.js}"></script>

    <link href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css"
          th:href="@{/webjars/jquery-ui/1.12.0/jquery-ui.css}" rel="stylesheet"/>
</head>

<body>

<script>
    $(function () {
        $(".dateField").datepicker({dateFormat: 'dd.mm.yy'});
    });
</script>

<div style="margin: 10px auto; width: 500px;">
    <img alt="logo" title="logo" th:src="@{/images/logo.png}"/>
</div>
<div class="outer">
    <div class="searchForm">

        <!--/*@thymesVar id="stackExchangeRequest" type="ru.kononov.stackexchangeApiClient.entities.StackExchangeRequest"*/-->
        <form action="#" th:action="@{/search}"
              th:object="${stackExchangeRequest}" method="get" >
            <ul th:if="${#fields.hasErrors('*') || javaErrors != null}" class="errorlist">
                <li th:each="err : ${javaErrors != null ? javaErrors : #fields.errors('*')}" th:text="${err}">Input
                    is incorrect
                </li>
            </ul>
            <fieldset>

                <div class="searchParameter">
                    <label>
                        <span>page</span>
                    </label>
                    <input type="text" th:field="*{page}" th:errorclass="fieldError"/>
                </div>
                <div class="searchParameter">
                    <label>
                        <span>pagesize</span>
                    </label>
                    <input type="text" th:field="*{pageSize}" th:errorclass="fieldError"/>
                </div>
                <div class="searchParameter">
                    <label>
                        <span>fromdate</span> (<span>DD.MM.YYYY</span>)
                    </label>
                    <input type="text" th:field="*{fromDate}" th:class="dateField" th:errorclass="fieldError"/>
                </div>
                <div class="searchParameter">
                    <label>
                        <span>todate</span> (<span>DD.MM.YYYY</span>)
                    </label>
                    <input type="text" th:field="*{toDate}" th:class="dateField" th:errorclass="fieldError"/>
                </div>
                <div class="searchParameter">
                    <label>order</label>
                    <select th:field="*{order}">
                        <!--/*@thymesVar id="allOrders" type="ru.kononov.stackexchangeApiClient.web.SearchController.allOrders"*/-->
                        <option th:each="order : ${allOrders}" th:value="${#strings.toUpperCase(order)}" th:text="${order}">order</option>
                    </select>
                </div>
                <div class="searchParameter">
                    <label>
                        <span>min</span> (<span>DD.MM.YYYY</span>)
                    </label>
                    <input type="text" th:field="*{min}" th:class="dateField" th:errorclass="fieldError"/>
                </div>
                <div class="searchParameter">
                    <label>
                        <span>max</span> (<span>DD.MM.YYYY</span>)
                    </label>
                    <input type="text" th:field="*{max}" th:class="dateField" th:errorclass="fieldError"/>
                </div>
                <div class="searchParameter">
                    <label>sort</label>
                    <select th:field="*{sort}">
                        <!--/*@thymesVar id="allSorts" type="ru.kononov.stackexchangeApiClient.web.SearchController.allSorts"*/-->
                        <option th:each="sort : ${allSorts}" th:value="${#strings.toUpperCase(sort)}" th:text="${sort}">sort</option>
                    </select>
                </div>
                <div class="searchParameter">
                    <label>
                        <span>tagged</span>
                    </label>
                    <input type="text" th:field="*{tagged}"/>
                </div>
                <div class="searchParameter">
                    <label>
                        <span>nottagged</span>
                    </label>
                    <input type="text" th:field="*{notTagged}"/>
                </div>
                <div class="searchParameter">
                    <label>
                        <span>intitle</span>
                    </label>
                    <input type="text" th:field="*{inTitle}" th:errorclass="fieldError"/>
                </div>
                <div class="searchParameter">
                    <label>
                        <span>site</span>
                    </label>
                    <input type="text" th:field="*{site}" th:errorclass="fieldError"/>
                </div>
                <div class="submit">
                    <button type="submit" name="Search">Начать поиск</button>
                </div>

            </fieldset>

        </form>

    </div>

    <!--<div class="stackExchangeRequestItems">-->
    <div class="container"
         th:unless="${#arrays.isEmpty(items)}">

        <h2>Результаты поиска</h2>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Дата вопроса</th>
                <th>Вопрос</th>
                <th>Автор вопроса</th>
                <th>Количество ответов</th>
                <th>Правильный ответ получен</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="item : ${items}">
                <td th:text="${#dates.format(new java.util.Date(item.creationDate * 1000), 'dd.MM.yyyy')}"></td>
                <a href="${item.link}"/>
                <td><a th:text="${item.title}" th:href="${item.link}">title</a></td>
                <td><a th:text="${item.stackExchangeOwner.displayName}"
                       th:href="${item.stackExchangeOwner.link}">owner</a></td>
                <td th:text="${item.answerCount}">1</td>
                <td>
                    <img th:if="${item.answered}" alt="img" title="img" th:src="@{/images/tick.png}"/>
                    <img th:if="${not item.answered}" alt="img" title="img" th:src="@{/images/cross.png}"/>
                </td>
            </tr>
            </tbody>
        </table>
        <div th:replace="fragments/paginator">paginator</div>
    </div>
</div>
</body>
</html>